* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Inter', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

li{
    list-style: none;
}

nav {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(45, 120, 242, 0.9);
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    backdrop-filter: blur(4px);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: all 0.3s;
}

nav ul li a:hover {
    color: rgb(255, 239, 219);
}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}


.hero-title{
    font-size: 4em;
    font-weight: 800;
    margin-bottom: 0.3em;
    padding: 0 1em;
    color: rgba(45, 120, 242, 0.9)
}

.hero-subtext{
    font-size: 1.5em;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 1em;
    padding: 0 1em;
    color: rgba(45, 120, 242, 0.9);
}

.search-bar {
    margin-top: 20px;
    width: 50%;
}

.search-bar input {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
    transition: all 0.3s;
}

.search-bar input::placeholder {
    color: #ccc;
}


.search-bar input:focus{
    transform: scale(1.05);
    outline: none;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color:rgba(45, 120, 242, 0.9);
    color: white;
    font-size: 0.8rem;
}

.footer-content {
    flex: 1 1 200px;
    max-width: 300px;
    padding: 15px;
    margin: 5px;
    background-color: rgba(45, 120, 242, 0.9);
}

.footer-content h2 {
    margin-bottom: 10px;
}

.footer-content img {
    color: white;
    width: 12px;
    margin-right: 4px;
    margin-top: 3px;
}

.footer-content li span{
    color: rgb(245, 235, 207);
    font-weight: 500;
    padding-right: 5px;
}


.linkedin-logo {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    scale: 1.5;
}
.footer-content p, .footer-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-attribution{
    text-align: center;
    margin-top: 20px;
}

.github-logo {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.attribution-heart{
    color: red;
    animation: pulseHeart 2s infinite;
    display: inline-block;
}

.footer-attribution{
    text-align: center;
    padding: 15px;
    margin-top: -5px;
    background-color: rgba(12, 82, 195, 0.9);
}

.footer-attribution p{
    color: white;
    font-size: 0.7em;
}

/* Animation */
@keyframes pulseHeart {
    0%, 100% {
        transform: scale(1);
    }
    
    50% {
        transform: scale(1.2);
    }
}


/* Media Queries */

@media (max-width: 768px) {
    nav ul {
        display: flex;
        align-items: center;
        font-size: 0.7em;
    }

    nav ul li {
        margin: 5px 0;
    }

    .footer-content {
        flex: 1 1 100%;
        max-width: none;
        text-align: center;
    }
}

@media (max-width: 480px) {
    header, footer {
        padding: 10px;
    }

    main {
        padding: 10px;
    }

    .footer-content {
        margin: 5px 0;
    }
}